body {
    line-height: 1;
    color: black;
    background: rgb(208, 208, 208);
}
i{
    display: inline-flex;
    background: white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin: 2px;
}
img.logo{
    border-radius: 100%;
    background-color: #fff;
    float: left;
    margin: 5px;
    padding: 5px;
}
.logo{
    display: flex;
    background-color: #140152;
    color: white;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    height: auto;
    justify-content: center;
}
.right_side{
    float: right;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_side{
    margin: 0 auto;
    position: relative;
}
.text{
    font-size: 20px;
}
.navigation{
    background: #0C2A82;
    height: min-content;
}
ul.nav {
    list-style-type: none;
    display: flex;
    margin: auto;
    width: 80%;
    padding: auto;
    position: relative;
    justify-content: stretch;
}
ul.nav li{
    padding: 25px;
    display: inline-flex;
    border-left: 1px solid white;
    justify-content: center;
    flex-grow: 1;
}
ul.nav li:last-child {
    border-right: 1px solid white;
}
ul.nav li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.nav-list{
    display: inline-block;
}
.example{
    background-color: rgb(184, 184, 184);
    width: 500px;
    margin: 10px;
    max-width: 50%;
}
.blok_1{
    display: flex;
    background-color: #fff;
    padding: 20px auto;
    margin: 35px auto;
    width:80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer{
    background: #140152;
    color: white;
    padding: 10px;
    text-align: center;
}
.footer_button{
    background-color: #0C2A82;
    text-align: center;
    width: 33%;
    height: 70px;
    
}