@font-face {
	font-family: 'NotoSans'; 
	src: url(fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf); 
}

body {
    line-height: 1;
    color: black;
    background: rgb(208, 208, 208);
    font-family: 'NotoSans';
    text-decoration: solid;
}
a{
    color: #fff;
}
i{
    display: inline-flex;
    background: white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin: 2px;
}
i:hover{
    -webkit-filter: brightness(30%);
}
i a{
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
}
img.logo{
    border-radius: 100%;
    background-color: #fff;
    float: left;
    max-width: 90px;
    margin: 5px;
    padding: 5px;
}
.logo{
    display: flex;
    background-color: #140152;
    color: white;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    height: auto;
    justify-content: center;
}
.right_side{
    float: right;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_side{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.text{
    font-size: 20px;
}
.navigation{
    background: #0C2A82;
}
ul.nav {
    list-style-type: none;
    display: flex;
    margin: auto;
    width: 80%;
    padding: auto;
    position: relative;
    justify-content: stretch;
}
ul.nav li{
    display: inline-flex;
    border-left: 1px solid white;
    justify-content: center;
    flex-grow: 1;
    
}
ul.nav li:last-child {
    border-right: 1px solid white;
}
ul.nav li a{
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    width: 100%;
}
.a_nav{
    color: rgb(231, 231, 170);
}
ul.nav li a:hover{
    background-color: #140152;
}

.nav-list{
    display: inline-block;
}
.example{
    background-color: rgb(184, 184, 184);
    width: 500px;
    margin: 10px;
    max-width: 50%;
}
.blok_1{
    display: flex;
    background-color: #fff;
    padding: 20px auto;
    margin: 35px auto;
    width:80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer{
    background: #140152;
    color: white;
    padding: 10px;
    text-align: center;
}
.footer_button{
    background-color: #0C2A82;
    text-align: center;
    width: 33%;
    color: #fff;
    height: 70px;
    margin: 10px;
}
.blok_5{
    display: flex;
    margin: 100px auto;
    width:67%;
    justify-content: center;
    align-items: start;
    flex-flow: row nowrap;
}
.nav_fed{
    background-color: #fff;
    width: 25%;
    max-height: 45%;
}
ul.nav_f{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-flow: column;
    justify-self: start;
    
}
ul.nav_f li{
    background-color: transparent;
    margin: 5% 0 5% 0 ;
    justify-content: stretch;
    
}
.button_a{
    position: relative;
    border: 1px solid #0A2472;
    display: inline-block;
    line-height: 1;
    color: #0A2472;
    background: #fff;
    padding: 0.35rem;
    text-align: start;
    width: 100%;
    transition: color .3s, background .3s,border-color .3s;
}
.button_neact{
    border: 1px solid #0A2472;
    text-align:start;
    position: relative;
    background: #0A2472;
    color: #fff;
    padding: 0.35rem;
    display: inline-block;
    width: 100%;
}

.blok_6{
    display: flex;
    background-color: #fff;
    padding: 20px ;
    width: 75%;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    min-height: 400px;
}